body {
	padding: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card {
	background: #eee;
	width: 300px;
	padding: 10px;
	font-size: 1.4rem;
	border-radius: 5px;
	margin: 0 10px 10px 0;
}

h2 {
	margin: 0;
	font-size: 1.6rem;
	color: brown;
}

.info {
	font-size: 1.4rem;
	margin: 0 0 10px 0;
}